.new-expense {
  background-color: #F0E5CF;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #4B6587;
  background-color: #4B6587;
  color: white;
  border-radius: 10px;
  margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #3c526e;
  border-color: #4B6587;
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #C8C6C6;
}
